Cython
numpy
attrs
bicleaner
bifixer==0.8.9
fugashi[unidic-lite]==1.1.2
git+https://github.com/Helsinki-NLP/OpusFilter.git@develop
hanziconv==0.3.2
more_itertools
mtdata==0.4.0
omegaconf
opuscleaner==0.4.0
opustrainer==0.3
psutil
pycld2==0.41
requests
sacrebleu
sacremoses
spacy-pkuseg
typing-extensions
wget>=3.2
